version: 2
updates:
  # github actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"

  # node packages
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      prisma:
        patterns:
          - "prisma"
          - "@prisma/client"
      patch:
        update-types:
          - "patch"
