.DS_Store
node_modules
/build
/.svelte-kit
/package
/src/generated
.env
.env._
!.env.example
vite.config.js.timestamp-_
vite.config.ts.timestamp-_
.vercel
.agents
.github
.vscode
.eslint_
.prettier\*
