DATABASE_URL=postgres database uri
TOPGG_TOKEN=top.gg api token
DISCORD_OAUTH_CLIENTID=discord oauth client id
DISCORD_OAUTH_SECRET=discord oauth secret
DISCORD_OAUTH_REDIRECT=discord oauth redirect
BOT_SERVER_URL=bot server url
HCAPTCHA_SECRET=hcaptcha secret
BOT_API_AUTH=bot api auth

PUBLIC_OAUTH_URL=public oauth url
PUBLIC_URL=public url
PUBLIC_HCAPTCHA_SITEKEY=public hcaptcha sitekey

LOKI_HOST=
LOKI_USERNAME=
LOKI_PASSWORD=