@import "tailwindcss";
@plugin "daisyui" {
  logs: false;
}
@plugin "daisyui/theme" {
  name: "nypsi";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(17.93% 0.0354 263.08);
  --color-base-200: oklch(16.57% 0.0337 263.46);
  --color-base-300: oklch(15% 0.0299 262.93);
  --color-base-content: oklch(89.36% 0.0076 260.73);
  --color-primary: oklch(60.56% 0.2189 292.72);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(35.4% 0.1319 281.75);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(51.03% 0.1766 294.08);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(10% 0.0354 263.08);
  --color-neutral-content: oklch(89.36% 0.0076 260.73);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(87.28% 0.1919 149.1);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(58.79% 0.2236 21.68);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter Variable', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.tippy-box {
  @apply border-primary/30 bg-base-300 rounded-lg border px-2 py-1 text-sm shadow-sm shadow-black;
}
