@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  scrollbar-color: rgb(0, 0, 0, 0.25) transparent;
  scrollbar-width: auto;
}

.tippy-box {
  @apply rounded-lg border border-accent border-opacity-10 bg-slate-900 bg-opacity-75 px-2 py-1 text-sm text-slate-300 shadow shadow-slate-950;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.25);
}
