@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  scrollbar-color: rgb(0, 0, 0, 0.25) transparent;
  scrollbar-width: auto;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
} */

.tippy-box {
  @apply rounded-lg border border-primary border-opacity-30 bg-base-300 px-2 py-1 text-sm shadow shadow-black;
}
