@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-effect {
  transition: scale 0.3s;
}

.hover-effect:hover {
  scale: 110%;
}

.hover-effect::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: rgb(239, 68, 68);
  border-radius: 9999px;
  transition: width 0.2s ease-in, left 0.2s ease-in;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.hover-effect:hover::after {
  width: 100%;
}