@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.hover-effect::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: rgb(239, 68, 68);
  border-radius: 9999px;
  transition: width 0.2s ease-in, left 0.2s ease-in;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.hover-effect:hover::after {
  width: 100%;
}

tr:nth-child(1) {
  color: rgb(239, 68, 68);
  font-weight: bold;
  scale: 105%;
}

tr:nth-child(1) div {
  background-color: rgb(239, 68, 68);
}

tr:nth-child(1):hover {
  scale: 110%;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.25);
}

* {
  scrollbar-color: rgb(0, 0, 0, 0.25) transparent;
  scrollbar-width: auto;
}
